In [5]:
import numpy as np
import pandas as pd

In [6]:
import warnings
warnings.filterwarnings("ignore")

In [7]:
%matplotlib inline

df = pd.read_excel('C:/Users/Pichau/Desktop/Documents/SegurançaBrasilLimpo2.xlsx')

In [10]:
df.head()

         Tipo Crime  Ano do crime Sexo da Vítima  Vitima do crime
0  Homicídio doloso          2022       Feminino                2
1  Homicídio doloso          2022      Masculino                8
2  Homicídio doloso          2022        Sexo NI                0
3  Homicídio doloso          2022       Feminino                0
4  Homicídio doloso          2022      Masculino               10

In [11]:
#df.dropna(subset=['Sexo NI'])